.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    
    
  }
  li ,a, button {
      font-weight: 500;
      font-size: 16px;
      text-decoration:none;
  }
  
  .navbar li {
    display: inline-block;
  }
.navbar a{
    text-decoration: none;
    color: black;
    width :200px;
    display :block;
    padding: 25px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.navbar a :after {
    position :absolute;
    background-color: rgb(121, 31, 182);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition :0.3s;
}
.navbar ul li  a :hover {
    background-color:rgb(240, 232, 248);
    
}
button{
    text-align: right;
    padding :20px;
    margin:0px ;
}
button:hover{
    background-color: blue;
}
header {
    display: flex;
    justify-content: space-between;
}