@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100');


body{
    margin: 0px;
    padding: 0px;
    background-image: url(desert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.main {
    width: 20%;
    padding: 30px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0,0.3);
    margin:8% auto 0;
    text-align: center;
    background: white;
}
.main h1{
    color: blueviolet;
    margin-bottom: 30px;
}
.u {
    padding: 10px;
    margin: 10px  0px;
    border-radius: 15px;
    width: 100%;
    border: 1px solid #999;
}
button{
    color: rgb(246, 246, 252);
    width:100%;
    padding:10px;
    background-color: rgb(111, 111, 241);
    cursor:pointer;
    border-radius: 15px;
}
button:hover{
    background-color:violet ; 
}